@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-gray-400 dark:border-gray-600 dark:text-white
}

a {
  @apply hover:underline cursor-pointer
}
h1 {
  @apply text-3xl
}
h2 {
  @apply text-2xl
}
h3 {
  @apply text-xl
}
li {
  @apply list-disc
}
body {
  margin: 0;
  background-color:whitesmoke;
}

button {
  margin: unset;
  border: 1px solid;
  border-radius: 8px;
  background-color: white;
  padding: 5px 8px;
  cursor: pointer;
  color: black;
  font-size: medium;
}
hr {
  margin: unset;
}
input {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  font-size: medium;
  padding: 4px 6px;
  width: 190px;
}
textarea {
  font-size: medium;
  resize: none;
  padding: 7px;
  line-height: 1.5; 
}

@media (hover: hover) {
  button:hover {
    background-color: wheat;
    color: black;
  }
  a:hover {
    text-decoration: underline
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black
  }
  button {
    color: white;
    background-color: black;
  }
  
  input {
    color: white;
    border-color: white;
    background-color: black;
  }
}