#navbar {
  position: absolute;
  height: 4rem;
  bottom: 0;
  width: inherit;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
#navbar a {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 1rem;
}

.active {
  background-color: antiquewhite;
  color: black;
}

@media (hover:hover) {
  #navbar a:hover {
    background-color: wheat;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  #navbar {
    box-shadow: 0 0 4px 0.1px rgba(255, 255, 255, 0.6);
    background-color: var(--dark);
  }
}