* {
  box-sizing: border-box; 
}

@font-face {
  font-family: 'my';
  src: url('/Monaco.ttf');
}
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}
ul {
  margin-block-start: unset;
  margin-block-end: unset;
}
li {
  margin-bottom: 1rem;
}
:root {
  color-scheme: light dark;
  font-family: 'my', Helvetica, sans-serif;
  --space-desktop: max(calc((35% - 10rem) / 2), 2rem);
  --dark: rgb(30,30,30)
}

h1 {
  margin-top: 0;
}
body {
  margin: 0;
  background-color:whitesmoke;
}

button {
  margin: unset;
  border: 1px solid;
  border-radius: 8px;
  background-color: white;
  padding: 5px 8px;
  cursor: pointer;
  color: black;
  font-size: medium;
}
hr {
  margin: unset;
}
input {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  font-size: medium;
  padding: 4px 6px;
  width: 190px;
}
textarea {
  font-size: medium;
  resize: none;
  padding: 7px;
  line-height: 1.5; 
}

@media (hover: hover) {
  button:hover {
    background-color: wheat;
    color: black;
  }
  a:hover {
    text-decoration: underline
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black
  }
  button {
    color: white;
    background-color: black;
  }
  
  input {
    color: white;
    border-color: white;
    background-color: black;
  }
}