.horizontal {
  display: flex;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.active {
  background-color: antiquewhite;
  color: black;
}

.highlight {
  color: wheat
}

.dropdown {
  position: absolute;
  width: fit-content;
  background-color: white;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, 0);
}

.dropdown div {
  cursor: pointer;
  border-radius: 6px;
  padding: 2px 3px;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal-content {
  position: absolute;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
}

.seperator {
  height: 0.06rem;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  .modal-content {
    align-self: center;
    background-color: rgb(30, 30, 30);
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
  }

  .seperator {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .dropdown {
    background-color: rgb(30, 30, 30);
    border-color: white;
  }
}

@media (hover: hover) {
  .dropdown div:hover {
    background-color: wheat;
    color: black;
  }
}